<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="testing">
  <ion-content class="padding">
    <div class="detail-container">
        <p>kjhgfhjk lkjhgfhjk</p>
        <div class="detail-sub-container">
            <div class="btn-holder" ng-click="openURL()">Open URL</div>
            <div class="btn-holder" ng-click="shareURL()">Share URL</div>
        </div>
    </div>
  </ion-content>
</ion-view>
