<ion-view view-title="settings">
  <ion-content class="capitalize-text">
    <ion-list>
    <ion-toggle  ng-model="settings.disableSuccessBeep" ng-change="settingHandler()">
        Beep
    </ion-toggle>
    <ion-toggle  ng-model="settings.disableAnimations" ng-change="settingHandler()">
        Animations
    </ion-toggle>
    <ion-toggle  ng-model="settings.torchOn" ng-change="settingHandler()">
        Torch On
    </ion-toggle>
    <ion-toggle  ng-model="settings.preferFrontCamera" ng-change="settingHandler()">
        Prefer Front Camera
    </ion-toggle>
    </ion-list>
    
    <div class="how-use">
        <p><strong>How to Use</strong></p>
        Step1: Add QR code Extension in browser<br/>
        Step2: Install IGScanner in mobile<br/>
        Step3: Scan QR code from device
    </div>
    <div class="company-name">Powered by InterviewGully.com</div>
  </ion-content>
</ion-view>
